<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{common_customer :: headerCustomer}"></div>

<p>Id: <span th:text="${customer.id}"></span></p>
<p>Name: <span th:text="${customer.name}"></span></p>
<p>Email: <span th:text="${customer.email}"></span></p>
<p>Address: <span th:text="${customer.address}"></span></p>

<div th:insert="~{common_customer :: footerCustomer}"></div>
</body>
</html>