<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<h3 th:text="#{blog.delete}"></h3>
<p>
    <a th:text="#{category.back}"></a>
</p>
<div id="form">
    <form action="#" th:action="@{/category/delete}" th:object="${category}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label th:text="#{name}"></label>
            <input type="text" th:field="*{name}" readonly/>
        </div>
        <input type="submit" th:value="#{blog.delete}"/>
    </form>
</div>
</body>
</html>